@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24Surround';
  src: url('/fonts/Cafe24Ssurround-v2.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SurroundAir';
  src: url('/fonts/Cafe24SsurroundAir-v1.1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
