@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24Surround';
  src: url('/fonts/Cafe24Ssurround-v2.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe24SurroundAir';
  src: url('/fonts/Cafe24SsurroundAir-v1.1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-white dark:bg-tricorn-black lg:bg-gradient-to-br lg:from-[#dafff7] lg:via-50% lg:via-white lg:to-[#f1daff] lg:dark:bg-gradient-to-br from-[10%] lg:dark:from-[#1c2c2b] lg:dark:from-0% lg:dark:via-tricorn-black lg:dark:via-50% lg:dark:to-[#1c151d];
}

#root {
  display: flex;
  justify-content: center;
}

#app-screen {
  @apply lg:w-[416px] lg:border-x overflow-auto bg-white dark:bg-tricorn-black dark:border-wall-street;
}

#pc-screen {
  @apply lg:flex hidden flex-col items-start w-[414px] max-w-[610px] justify-between;
}
