@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24Surround';
  src: url('/fonts/Cafe24Ssurround-v2.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SurroundAir';
  src: url('/fonts/Cafe24SsurroundAir-v1.1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-gradient-to-br from-[#dafff7] via-50% via-white to-[#f1daff] dark:bg-gradient-to-br from-[10%] dark:from-[#1c2c2b] dark:from-0% dark:via-tricorn-black dark:via-50% dark:to-[#1c151d];
}

#app-screen {
  @apply dark:bg-tricorn-black;
}

#root {
  display: flex;
  justify-content: center;
}
